body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.graph{
  display:flex;
  list-style:none;
  height:100vh;
  width:100%;
}
.dataBar{
  flex: 1 1 auto;
  transition: all 0.25s ease-in-out
}
.active{
  background-color:red !important;
  transition: all 0.25s ease-in-out
}